<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />

    <title>Temperature Graph</title>

    <!-- Bootstraps Java Scipts Links -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='styles.css') }}"
    />
    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>

    <!-- JQuery links  -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!--High CHART LIVE  -->
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/highcharts-more.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>

    <!--Style for circle -->
    <style></style>
  </head>

  <body id="graph">
    <header>
      <h1>Automated Gardening System</h1>
    </header>
    <!--Buttons-->
    <nav>
      <ul>
        <li>
          <form action="/">
            <input type="submit" style="display: none" id="HomeSubmit" />
            <a
              class="btn"
              onclick="document.getElementById('HomeSubmit').click()"
              >Home</a
            >
          </form>
        </li>
        <li>
          <form action="/temperature.html">
            <input type="submit" style="display: none" id="TempGraphSubmit" />
            <a
              style="color: white"
              class="btn"
              onclick="document.getElementById('TempGraphSubmit').click()"
              >Temperature</a
            >
          </form>
        </li>
        <li>
          <form action="/humidity.html">
            <input type="submit" style="display: none" id="HumidGraphSubmit" />
            <a
              class="btn"
              onclick="document.getElementById('HumidGraphSubmit').click()"
            >
              Humidity
            </a>
          </form>
        </li>
        <li>
          <form action="/ec.html">
            <input type="submit" style="display: none" id="ECGraphSubmit" />
            <a
              class="btn"
              onclick="document.getElementById('ECGraphSubmit').click()"
            >
              EC Level
            </a>
          </form>
        </li>
        <li>
          <form action="/ph.html">
            <input type="submit" style="display: none" id="pHGraphSubmit" />
            <a
              class="btn"
              onclick="document.getElementById('pHGraphSubmit').click()"
            >
              <div id="pHGraph">Potentiometer</div>
            </a>
          </form>
        </li>
        <li>
          <form action="/light.html">
            <input type="submit" style="display: none" id="LightGraphSubmit" />
            <a
              class="btn"
              onclick="document.getElementById('LightGraphSubmit').click()"
            >
              LDR
            </a>
          </form>
        </li>
        <li>
          <form>
            <input type="submit" style="display: none" id="src_code" />
            <a
              style="color: black"
              href="https://github.com/ET0735-DevOps-AIoT-AY2310/DCPE-2A-04-Group1"
              class="btn"
              onclick="document.getElementById('src_code').click()"
            >
              Code
            </a>
          </form>
        </li>
      </ul>
    </nav>
    <!--Creating the circle -->
    <div class="row" id="sys-running">
      <div class="col-sm-2">
        <span><div class="circle"></div></span>
        <p id="sys-run-text">Detecting System</p>
      </div>
    </div>
    <div class="page-wrapper-graph">
      <div class="container-fluid">
        <div class="row">
          <div class="container-fluid" id="data-temperature"></div>
        </div>
      </div>
    </div>

    <script src="{{ url_for('static', filename='temp.js') }}"></script>
  </body>
</html>
