body{     /*Change Body Color*/
  margin: 0px;
  padding: 0px;
  background-color: #1e1f22;
}
#graph {  /*Change Body Color For All Graphs --> takes priority*/
  margin: 0px;
  padding: 0px;
  background-color: #1e1f22;
}
.page-wrapper {
  background-color: #2b2d31;
  margin-top: 0px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: -50px;
  border: 1px solid #333;
  padding: 10px;
  border-radius: 7px;
  padding-bottom: 25px;
}
.page-wrapper-graph {
  background-color: #2b2d31;
  margin-top: 0px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: -50px;
  border: 1px solid #333;
  padding: 10px;
  border-radius: 7px;
}
.circle {
    width: 10px;
    height: 10px;
    border-radius: 50px;
    font-size: 20px;
    color: #fff;
    line-height: 100px;
    background: rgb(0, 255, 0);
    margin-left: 10px;
  }  
.circle.stopped {
    background: rgb(255, 0, 0);
  }
button {
    border-radius: 7px;
    margin-top: 10px;
    margin-left: 10px;
    background-color: rgb(223, 223, 223);
    border: 3px solid #8a9ba0;
    font-family: Cambria;
}
.col-sm-2 > span,
.col-sm-2 > p {
  display: inline-block;
  color: white;
  margin-top: 20px;
  font-size: 17px;
  margin-left: 10px;
}
#index-graph {
  display: flex;
  height: 400px;
  width: auto;
}
.button-main {
  font-size: 50px;
}
#b-btn-graphs {
  margin-bottom: 10px;
  margin-left: 30px;
  padding-left: 10px;
  padding-right: 10px;
}
.jumbotron {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 300px;
  width: auto;
  background-color: #2b2d31;
  padding: 20px;
  border: 0px solid #ccc;
  border-radius: 5px;
}
.jumbotron img {
  border-radius: 7px;
}